body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}


header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 1% 25% 0% 1%;

}

#high-scores {
    text-decoration: none;
    font-size: 30px;
    color: rgb(131, 24, 131);
}

#timer {
    font-size: 40px;
}

#quiz-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#questions{
    font-size: 30px;
    margin-top: 15%;
    text-align: center;
}

#answers {
    list-style: none;
    padding: 1%;

}

#answers li {
    background-color: rgb(188, 140, 232);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 4%;
}

#answers li:hover {
    background-color: green;
    color: white;

}
    
.hidden {
    display: none;
}

#start-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

#result-message{
    text-align: center;
    margin-top: 25%;
}


#reset-button {
    display: block;
    margin: auto;
    margin-top: 20px; 
    font-size: 20px;
    cursor: pointer;
    background-color: green;
    color: white;

}

#clearscoresbutton {
    display: block;
    margin: auto;
    margin-top: 25px; 
    font-size: 20px;
    cursor: pointer;
    background-color: green;
    color: white;
}

@media only screen and (min-width: 320px) {
    body {
        font-size: 22px; 
    }

    #timer {
        font-size: 22px;
    }

    #questions {
        font-size: 20px; 
        margin-top: 10%; 
    }

    #answers li {
        padding: 8px; 
        margin: 8px; 
    }

    #reset-button,
    #clearscoresbutton {
        margin-top: 15px; 
    }
}
