body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
}


header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 1% 25% 0% 1%;

}

#high-scores {
    text-decoration: none;
    font-size: 30px;
    color: rgb(131, 24, 131);
}

#timer {
    font-size: 40px;
}

#big-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#q-a-container{
    text-align: center;
}

#questions{
    font-size: 30px;
    margin-top: 15%;
}

#answers {
    list-style: none;
    padding: 1%;

}

#answers li {
    background-color: rgb(142, 142, 170);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 4%;
}

#answers li:hover {
    background-color: green;
    color: white;

}
    
.hidden {
    display: none;
}

#start-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#result-message {
    text-align: center;
    margin-top: 25%;
}