body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
}


header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 3% 10% 1% 10%;

}

#high-scores {
    text-decoration: none;
    font-size: 60px;
    color: purple;
}

#timer {
    font-size: 60px;
}

#big-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#q-a-container{
    text-align: center;
}

#questions{
    font-size: 30px;
    margin-bottom: 5%;
}

#answers {
    list-style: none;
    padding: 1%;

}

#answers li {
    background-color: rgb(142, 142, 170);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 4%;
}

#answers li:hover {
    background-color: green;
    color: white;

}
    
.hidden {
    display: none;
}

